name: Platform Tests
on: [push, pull_request]
permissions:
  contents: read

jobs:
  platform_tests:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        go-version: ["", "stable"]
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}
          go-version-file: "go.mod"

      - name: Get dependencies
        run: |
          sudo apt-get update
          sudo apt-get install --no-install-recommends bc clang lld libgl1-mesa-dev libwayland-dev libx11-dev libxkbcommon-dev xorg-dev xvfb language-pack-en
          echo "CC=clang" >> "$GITHUB_ENV"
          echo "CGO_LDFLAGS=-fuse-ld=lld" >> "$GITHUB_ENV"
        if: ${{ runner.os == 'Linux' }}

      - name: Test
        run: go test -tags ci -covermode=atomic -coverprofile="coverage.out" ./...

      - name: Update coverage
        run: |
          set -e
          coverage=`go tool cover -func coverage.out | grep total | tr -s '\t' | cut -f 3 | grep -o '[^%]*'`
          if (( $(echo "$coverage < 13" | bc) )); then echo "Test coverage lowered"; exit 1; fi
        if: ${{ runner.os == 'Linux' && matrix.go-version == 'stable' }}

      - name: Update PR Coverage
        uses: shogo82148/actions-goveralls@v1
        with:
          path-to-profile: coverage.out
        if: ${{ runner.os == 'Linux' && matrix.go-version == 'stable' }}
